body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos para la tabla de resultados */
table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; /* Añadido para centrar la tabla */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
